@tailwind base;
@tailwind components;
@tailwind utilities;

.card-scroll::-webkit-scrollbar {
  @apply h-1 w-2;
}

.card-scroll::-webkit-scrollbar-track {
  background: #8888882e;
  border-radius: 5px;
}

.card-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #a91d54;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-slide {
  @apply overflow-hidden bg-contain bg-no-repeat items-center justify-center text-base;
}

.swiper-slide img {
  @apply h-full w-full aspect-video object-contain rounded-md mx-auto flex;
}

.newsletter-section {
  @apply w-full flex bg-black;
}

.newsletter-container {
  @apply flex gap-5 items-center justify-center whitespace-nowrap;
  animation: scroll-left 15s linear infinite;
  animation-delay: 2s;
}

.card-gredient {
  background: linear-gradient(to bottom, transparent 40%, #ffffff 40%);
}

.about::after {
  @apply hidden md:flex absolute z-10 h-[600px] w-52 bg-brand-red top-0  right-20;
  content: "";
}
.about1::after {
  @apply hidden md:flex absolute z-10 h-full w-96 bg-brand-red top-0  left-0;
  content: "";
}
.goal::after {
  @apply flex absolute z-10 h-2/5 w-full my-auto bg-brand-red inset-0;
  content: "";
}
.about-bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.89) 57.19%,
    rgba(0, 0, 0, 0) 100%
  );
}

.newsletter-item {
  @apply flex w-fit h-8 text-white;
}

.newsletter-item span {
  @apply flex items-center justify-center;
}

.newsletter-item span img {
  @apply mr-5;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 3));
  }
}

.shimmer-effect {
  @apply bg-black text-white;
  -webkit-mask: linear-gradient(120deg, #fff 35%, #a91d5592, #a91d54 45%)
    right/250% 100%;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

.shimmer-effect1 {
  @apply bg-black text-white;
  -webkit-mask: linear-gradient(120deg, #fff 35%, #a91d5592, #a91d54 45%)
    right/250% 100%;
  animation: shimmer1 2.5s infinite;
}

@keyframes shimmer1 {
  100% {
    -webkit-mask-position: left;
  }
}

.shimmer-effect2 {
  -webkit-mask: linear-gradient(120deg, #fff 35%, #a91d5592, #a91d54 45%)
    right/250% 100%;
  animation: shimmer2 2.5s infinite;
}

@keyframes shimmer2 {
  100% {
    -webkit-mask-position: left;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary span svg {
  transform: rotate(180deg);
}

details[open] div ul li details summary span svg {
  transform: rotate(0deg);
}

details[open] div ul li details[open] summary span svg {
  transform: rotate(180deg);
}
